.git
.github
.env
.env.*
node_modules
vendor
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
tests
.editorconfig
.gitattributes
insomnia-export.json
pdv_dev
README.md
